@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:linear-gradient(135deg,#291a12,#4a3225,#755340);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:50px;

}

.glass{

max-width:900px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

padding:60px;

border-radius:35px;

border:1px solid rgba(255,255,255,.15);

color:white;

box-shadow:0 20px 50px rgba(0,0,0,.4);

}

h1{

font-size:50px;

margin-bottom:10px;

}

span{

display:block;

margin-bottom:30px;

color:#dcc3ab;

font-style:italic;

}

p{

font-size:18px;

line-height:2;

margin-bottom:35px;

}

a{

display:inline-block;

padding:15px 28px;

background:#8d6648;

color:white;

text-decoration:none;

border-radius:15px;

transition:.3s;

}

a:hover{

background:#a77b58;

}
