@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#2b1d15,#4a3226,#6d4c3d,#9b7656);

overflow:hidden;

}

.container{

display:flex;

gap:40px;

}

.card{

width:300px;
height:220px;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.15);

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;

cursor:pointer;

transition:.4s;

box-shadow:0 20px 45px rgba(0,0,0,.35);

}

.card:hover{

transform:translateY(-10px) scale(1.05);

background:rgba(255,255,255,.13);

}

.card h2{

font-size:32px;

margin-bottom:10px;

}

.card p{

opacity:.8;

font-size:18px;

}
